/********************************
 * Generale CSS
 * 
 * ************************************/
 
 * {
    box-sizing: border-box;
   
   /*da mettere sempre per i siti responsive*/
   }
   

   header{
   
      font-size: 0.9em;
       align-items: center;
       justify-content: space-between;
       background-color: #005792;
       color: white;
       padding:40px;
       flex-wrap: wrap;
       text-align: center;
         border-radius: 30px;

       
   }
   header h1{
    font-size: 2.8em;
    font-family: verdana;
   }
   header a{
    font-size: 1.1em;
    font-family: verdana;
     text-decoration: none;
   }
   
   .logo {
   height: 200px;
   
    }
   .logo2{
      height: 150px;
    }
   .logo3{
     background-color: white;
    }
    .logo4{
      width: 70%;
      height: auto;
      margin-left: 250px;
     
    }
   .info {
   
       font-size: 1.0em; 
     }
   .info a{
     color: white;
   
   }
   nav{
   
     float: center;
     width: 50%;
     margin: 0 auto;
     text-align: center;
     color:#005792;
     line-height: 50px;


   
   }
   
   nav a{
     overflow: auto;
     background-color: #0056b3;
    font-family: verdana;
     margin-top: 25px;
     display: block;
     width: 100%;
     color: white;
     height: 70px;
     text-decoration: none;
   
     border-radius: 30px;
overflow: hidden
     


   }


  .nav-img{
   background-color: blue;
  width: 50%;
         height: 40px;
         align-items: right;
          overflow-y: hidden;
          margin-left: 90px;
       

   }
   
   

  
   
   article{
   
     float: left;
     width: 70%;
     padding: 0px 20px;
     text-align: center;
     font-family: Verdana, sans-serif ;
   
   }
   .demo {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  } 

   article h1{
     color: #005792;

     font-size: 1.8em;
   
   }
   .supercalcolo-article{
    text-align: center;
  }
   article a{
     text-align: center;
     color: white;
   }
   article p{
    text-align: center;
   }
  
   p{
    text-align: center;
    font-size: 1.2em;
    font-family: verdana;
   }
   ul{
    text-align: left;
    font-size: 1.1em;
    font-family: verdana;
   }
   
   aside{
       background-color: #005792;
     float: left;
     width: 30%;
       padding: 0px;
     text-align: center;
       color: white;
    height: 1300px;
    margin-top: 250px;
    font-size: 1.3em;
   }
   
   section::after{
        content: "";
        display: table;
        clear: both;
   }
   h3{
    text-align: center;
    font-family: verdana;
    font-size: 1.7em;
    color: #005792;
   }
   .img{
    width: 100%;
    height: auto;

   }
   h4{
    text-align: center;
    font-family: verdana;
    font-size: 1.2em;
   }
   .riquadro{
  background-color: #005792; 
  color: white;               
  display: flex; 
  align-items: flex-start;
  vertical-align: 90px;
  gap: 40px;
  
  width: 100%;              
  padding: 60px;     
       
  align-items: center;
   box-shadow: 0 4px 8px rgba(0,0,0,0.2); /*ombra*/
  font-family: verdana;
 }
 .testo{
  
  font-size: 1.9em;
  

 }
 .riquadro li{
  font-size: 20px;
 }
   footer{
     background-color: #005792;
     text-align: center;
     padding: 10px;
     margin-top: 7px;
     box-shadow: 0 4px 8px rgba(0,0,0,0.2)
   }
   footer p{
    color: white;
   }
   @media only screen and (max-width:900px){
   
   nav, article, aside {
   
     width: 100%;
   }
   
   }
